<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="#" />
    
    <title>BITACORA</title>
  </head>
  <body>
    
    <script>
      function goBack() {
          window.history.back();
      }
    </script>
    <div class="container-fluid">
      <nav class="navbar navbar-expand navbar-light bg-light">
        <ul class="navbar-nav text-center">
          <li class="nav-item active">
              <a href="{{ url_for('index') }}" class="nav-link d-flex flex-column">
              <i class="fa fa-home fa-2x"></i>
              <span class="d-none d-sm-inline"><i><strong>[ HOME ]</strong></i></span></a>
          </li>
          <li class="nav-item active">
            <a href="{{ url_for('parametrico') }}" class="nav-link d-flex flex-column">
            <i class="fa fa-cogs fa-2x"></i>
            <span class="d-none d-sm-inline"><i><strong>[ AJUSTES ]</strong></i></span></a>
        </li>
        </ul>
      </nav>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-primary">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div>
        {% block main %}{% endblock %}
      </div>
    </div>
  </body>
</html>
