{% extends "base.html" %}
{% block main %}



<div class="card-deck">
    {% for fecha, detalle_gasto in gastos | groupby('fecha') %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-center"><strong>{{ fecha }}</strong></h3>
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <th></th>
                    <th>Pagar en</th>
                    <th>Monto</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for gasto in detalle_gasto %}
                    <tr>
                        <td></td>
                        <td>{{gasto.acreedor}}</td> 
                        <td class="card-text text-right">{{ "Gs. {:,.0f}".format(gasto.total).replace(",", ".") }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}                            
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="card-text text-right"><strong>Total</strong></td>
                        <td class="card-text text-right"><strong>{{ "Gs. {:,.0f}".format(detalle_gasto | sum(attribute='total')).replace(",", ".") }}</strong></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="card-footer text-muted text-right">
            <a href="{{ url_for('historico_gastos_detalle', periodo=fecha) }}" class="card-link"><strong>Ver detalles</strong></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

