{% extends "base.html" %}

{% block main %}
<form action="{{ url_for('modificar_operacion', operacion_id=operacion_id) }}" method="post">
  {{ form.csrf_token }}
  <div class="card-columns">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-center"><strong>MODIFICAR CARGA DE COMBUSTIBLE</strong></h3>
        </div>
        <div class="card-body">
            <h4 class="card-title text-center"><strong>GAC GS3</strong></h4>
            <div class="d-flex flex-row d-flex align-items-center">
              <table class="table table-sm">
                <tr><td>Fecha operacion:</td><td><strong>{{ form.fecha_operacion(class="form-control") }}</strong></td></tr>
                <tr><td>Descripcion:</td><td><strong>{{ form.descripcion(class="form-control") }}</strong></td></tr>
                <tr><td>Monto:</td><td><strong>{{ form.monto_operacion(class="form-control") }}</strong></td></tr>
                <tr><td>Tipo Operacion:</td><td><strong>{{ form.tipo_operacion(class="form-control") }}</strong></td></tr>
              </table>
            </div>
        </div>    
        <!-- {{ form.tipo_operacion(class="form-control") }} -->
        <div class="card-footer text-muted text-right">
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('recargas') }}" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
  </div>
</form>
{% endblock %}