{% extends "base.html" %}

{% block main %}
<form action="{{ url_for('busqueda') }}" method="GET">
    {{ form.csrf_token }}
    <div class="card-columns">
        <div class="card">
            <div class="card-header">
                <h3><strong>BUSQUEDA DE OPERACIONES</strong></h3>
            </div>
            <div class="card-body">
                <div>
                    <table class="table table-sm">
                        <tr>
                            <td>
                                <input class="form-control mr-sm-2" type="search" placeholder="Ingrese el termino a buscar" name="q">
                            </td>
                            <td>
                                <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3><strong>CONTADO</strong></h3>
            </div>
            <div class="card-body">
                {% if (debito is defined) and debito %}
                <div>
                    <table class="table table-sm">
                        {% for gasto in debito %}
                        <tr>
                            <td>{{ gasto.descripcion }}
                            <br>
                            <small>{{ gasto.fecha_pagar }} - {{ "Gs. {:,.0f}".format(gasto.monto).replace(",", ".") }}</small></td>
                            
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% else %}
                <div>Sin pagos al contado.</div>
                {% endif %}
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3><strong>CREDITO</strong></h3>
            </div>
            <div class="card-body">
                {% if (credito is defined) and credito %}
                <div>
                    <table class="table table-sm">
                        {% for operacion in credito %}
                        <tr>
                            <td><strong>{{ operacion.tarjeta.banco }}</strong> - {{ operacion.descripcion }} 
                            <br>
                            <small>{{ operacion.fecha_operacion }} - {{ "Gs. {:,.0f}".format(operacion.monto_operacion).replace(",", ".") }}</small>
                            </td>
                            <td><small></small></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% else %}
                <div>Sin compras con tarjeta de credito.</div>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}