{% extends "base.html" %}

{% block main %}
<form action="{{ url_for('busqueda') }}" method="GET">
    {{ form.csrf_token }}
    <div class="card-columns">
        <div class="card">
            <div class="card-header">
                <h3><strong>BUSQUEDA DE OPERACIONES</strong></h3>
            </div>
            <div class="card-body">
                <div>
                    <table class="table table-sm">
                        <tr>
                            <td>
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q">
                            </td>
                            <td>
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3><strong>CONTADO</strong></h3>
            </div>
            <div class="card-body">
                <div>
                    <table class="table table-sm">
                        {% for gasto in debito %}
                        <tr>
                            <td><small>{{ gasto.fecha_pagar }}</small></td>
                            <td><small>{{ gasto.descripcion }}</small></td>
                            <td><small>{{ "Gs. {:,.0f}".format(gasto.monto).replace(",", ".") }}</small></td>
                            
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3><strong>CREDITO</strong></h3>
            </div>
            <div class="card-body">
                <div>
                    <table class="table table-sm">
                        {% for operacion in credito %}
                        <tr>
                            <td><small>{{ operacion.fecha_operacion }}</small></td>
                            <td><small>{{ operacion.descripcion }}</small></td>
                            <td><small>{{ "Gs. {:,.0f}".format(operacion.monto_operacion).replace(",", ".") }}</small></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>



    </div>
</form>
{% endblock %}