{% extends "base.html" %}

{% block main %}

<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="card-deck">
            {% for carga in cargas_anuales %}
            <div class="card">
                <div class="card-header">
                    <h3><strong>{{ carga.anno }}</strong></h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <tr><td>TOTAL DE RECARGAS:</td><td><strong>{{ "Gs. {:,.0f}".format(carga.suma_total_cargas).replace(",", ".") }}</strong></td></tr>
                            <tr><td>PROM. LTS. POR RECARGA:</td><td><strong>{{ '%0.2f'|format(carga.promedio_litros_por_recarga|float) }} lts.</strong></td></tr>
                            <tr><td>DISTANCIA POR TANQUE:</td><td><strong>{{ carga.promedio_recorrido_por_tanque }} kms.</strong></td></tr>
                            <tr><td>CONSUMO POR CADA 100Km.:</td><td><strong>{{ '%0.2f'|format(carga.consumo_por_100km|float) }} lts.</strong></td></tr>
                            <tr><td>PROM. RECARGAS:</td><td><strong>{{ '%0.0f'|format(carga.promedio_dias_carga|float) }} dias.</strong></td></tr>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-muted text-right">
                    <a href="{{ url_for('recargas_detalle', anno=carga.anno) }}" class="btn btn-primary">Ver detalles</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}