{% extends "base.html" %}

{% block main %}
<div class="container-fluid text-center">
    <div>
        <table class="table table-sm table-borderless">
            <td><a href="{{ url_for('movimientos_mes', mes=fechas.mes_anterior.strftime('%Y-%m')) }}" class="card-link"><strong>{{ fechas.mes_anterior.strftime('%b') }}</strong></a></td>
            <td><h5 class="card-title text-center"><strong>{{ fechas.mes_actual.strftime('%B') }}</strong></h5></td>
            <td><a href="{{ url_for('movimientos_mes', mes=fechas.mes_siguiente.strftime('%Y-%m')) }}" class="card-link"><strong>{{ fechas.mes_siguiente.strftime('%b') }}</strong></a></td>
        </table>
    </div>
    <div class="row justify-content-center">
        <div>
            <table class="table table-sm text-right">
                <thead class="thead-light">
                    <th></th>
                    <th>Gastos (Gs.)</th>
                    <th>Pagos (Gs.)</th>
                    <th>Descuentos (Gs.)</th>
                    <th>Saldo Mes (Gs.)</th>
                    <th>Balance (Gs.)</th>
                </thead>
                <tbody>
                    {% for tarjeta in balances | sort(attribute='banco') %}
                    <tr>
                        <td>{{ tarjeta.banco }}</td>
                        <td>{{ "{:,.0f}".format(tarjeta.compras_mes).replace(",", ".") }}</td>
                        <td>{{ "{:,.0f}".format(tarjeta.pagos_mes).replace(",", ".") }}</td>
                        <td>{{ "{:,.0f}".format(tarjeta.descuentos_mes).replace(",", ".") }}</td>
                        <td>{{ "{:,.0f}".format(tarjeta.balance_mes).replace(",", ".") }}</td>
                        <td>{{ "{:,.0f}".format(tarjeta.balance).replace(",", ".") }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>TOTALES:</strong></td>
                        <td>{{ "{:,.0f}".format(balances | sum(attribute='compras_mes')).replace(",", ".") }}</td>
                        <td>{{ "{:,.0f}".format(balances | sum(attribute='pagos_mes')).replace(",", ".") }}</td>
                        <td>{{ "{:,.0f}".format(balances | sum(attribute='descuentos_mes')).replace(",", ".") }}</td>
                        <td>{{ "{:,.0f}".format(balances | sum(attribute='balance_mes')).replace(",", ".") }}</td>
                        <td>{{ "{:,.0f}".format(balances | sum(attribute='balance')).replace(",", ".") }}</td>
                    </tr>
                </tfoot>
            </table>
            <div class="card-text text-center">
                <a href="{{ url_for('historial_operacion') }}" class="card-link">Ver todo el historial</a>
            </div>

        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="card-columns">
                {% for banco, movimientos in operaciones_tj | groupby('banco') %}
                <div class="card">
                    <div class="card-header">
                        <h3><strong>{{ banco }}</strong></h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead class="thead-light">
                                    <th></th>
                                    <th>Acreedor</th>
                                    <th class="card-text text-right">Monto</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    {% for movimiento in movimientos %}
                                    <tr>
                                        <td></td>
                                        <td class="card-text text-left">{{movimiento.fecha_operacion.strftime('%d')}} - {{movimiento.descripcion}} [{{movimiento.tipo_movimiento}}]</td> 
                                        <td class="card-text text-right">{{ "Gs. {:,.0f}".format(movimiento.monto_operacion).replace(",", ".") }}</td>
                                        <td class="align-self-end">
                                            <a href="{{ url_for('modificar_operacion', operacion_id=movimiento.id_operacion) }}"><i class="fa fa-pencil-square-o"></i></a>
                                            <a href="{{ url_for('borrar_operacion', operacion_id=movimiento.id_operacion) }}" style="color:red"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}                            
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-muted text-right">
                        <a href="{{ url_for('nueva_operacion', tarjeta=banco) }}" class="btn btn-primary">NUEVA OPERACION</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}