{% extends "base.html" %}

{% block main %}
<div class="row justify-content-center">
    <div class="row justify-content-center">
        <table class="table table-sm text-right">
            <thead>
                <tr>
                    <th></th>
                    {% for month in months %}
                    <th>{{ month }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for bank_name, balances in data.items() %}
                <tr>
                    <td>{{ bank_name }}</td>
                    {% for month in months %}
                    <td>{{ "{:,.0f}".format(balances.get(month, '-')).replace(",", ".") if balances.get(month) is not none else '-' }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    {% for month in months %}
                    <th>{{ "{:,.0f}".format(monthly_totals.get(month, 0)).replace(",", ".") }}</th>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="card-columns">
    {% for fecha, detalle_gasto in gastos | groupby('fecha') %}
    <div class="card card-responsive">
        <div class="card-header">
            <h3 class="card-title text-center"><strong>{{ fecha }}</strong></h3>
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <thead class="thead-light">
                    <th></th>
                    <th>Acreedor</th>
                    <th class="card-text text-right">Monto</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for gasto in detalle_gasto %}
                    <tr>
                        <td></td>
                        <td>{{gasto.acreedor}}</td> 
                        <td class="card-text text-right">{{ "Gs. {:,.0f}".format(gasto.total).replace(",", ".") }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}                            
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted text-right">
            <a href="{{ url_for('movimientos_mes', mes=fecha) }}" class="card-link"><strong>Ver detalles</strong></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}