{% extends "base.html" %}

{% block main %}
<div class="card-columns">
    {% for fecha, detalle_gasto in gastos | groupby('fecha') %}
    <div class="card card-responsive">
        <div class="card-header">
            <h3 class="card-title text-center"><strong>{{ fecha }}</strong></h3>
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <thead class="thead-light">
                    <th></th>
                    <th>Acreedor</th>
                    <th class="card-text text-right">Monto</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for gasto in detalle_gasto %}
                    <tr>
                        <td></td>
                        <td>{{gasto.acreedor}}</td> 
                        <td class="card-text text-right">{{ "Gs. {:,.0f}".format(gasto.total).replace(",", ".") }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}                            
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted text-right">
            <a href="{{ url_for('movimientos_mes', mes=fecha) }}" class="card-link"><strong>Ver detalles</strong></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}