{% extends "base.html" %}
{% block main %}



<!-- <div class="card">
    {% for fecha, detalle_gasto in gastos | groupby('fecha') %}
    <div class="card card-responsive">
        <div class="card-header">
            <h3 class="card-title text-center"><strong>{{ fecha }}</strong></h3>
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <thead class="thead-light">
                    <th></th>
                    <th>Acreedor</th>
                    <th class="card-text text-right">Monto</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for gasto in detalle_gasto %}
                    <tr>
                        <td></td>
                        <td>{{gasto.acreedor}}</td> 
                        <td class="card-text text-right">{{ "Gs. {:,.0f}".format(gasto.total).replace(",", ".") }}</td>
                        <td></td>
                    </tr>
                    {% endfor %}                            
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted text-right">
            <a href="{{ url_for('historico_gastos_detalle', periodo=fecha) }}" class="card-link"><strong>Ver detalles</strong></a>
        </div>
    </div>
    {% endfor %}
</div> -->


<div class="container-fluid mt-4">
    <!-- <div class="row justify-content-center"> -->
        <div class="card-columns">
            {% for fecha, detalle_gasto in gastos | groupby('fecha') %}
            <div class="card">
                <div class="card-header">
                    <h3><strong>{{ fecha }}</strong></h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead class="thead-light">
                                <th></th>
                                <th>Acreedor</th>
                                <th class="card-text text-right">Monto</th>
                                <th></th>
                            </thead>
                            <tbody>
                                {% for gasto in detalle_gasto %}
                                <tr>
                                    <td></td>
                                    <td>{{gasto.acreedor}}</td> 
                                    <td class="card-text text-right">{{ "Gs. {:,.0f}".format(gasto.total).replace(",", ".") }}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}                            
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-muted text-right">
                    <a href="{{ url_for('historico_gastos_detalle', periodo=fecha) }}" class="card-link"><strong>Ver detalles</strong></a>
                </div>
            </div>
            {% endfor %}
        </div>
    <!-- </div> -->
</div>
{% endblock %}

