{% extends "base.html" %}
{% block main %}
<form action="{{ url_for('nueva_recarga') }}" method="post">
    {{ form.csrf_token }}
    <!-- <h1><strong>BITACORA Y FINANZAS</strong></h1>
    <span style="color: grey">Ver. 2.0</span> -->
    <br>
    <div class="card-columns">
        <!-- CARGAS DE COMBUSTIBLE -->
        <div class="card">
            <div class="card-header">
                <h3><strong>CARGAS DE COMBUSTIBLE</strong></h3>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h4 class="card-text text-center"><strong>{{ vehiculo }}</strong></h4>
                    <div class="card-text text-right">
                        <a href="{{ url_for('recargas') }}" class="card-link">Ver todas las cargas</a>
                    </div>
                </div>
                <div>
                    <table class="table table-sm">
                        <tr><td>TOTAL DE RECARGAS:</td><td><strong>{{ "Gs. {:,.0f}".format(suma_total_cargas).replace(",", ".") }}</strong></td></tr>
                        <tr><td>PROM. LTS. POR RECARGA:</td><td><strong>{{ '%0.2f'|format(promedio_litros_por_recarga|float) }} lts.</strong></td></tr>
                        <tr><td>DISTANCIA POR TANQUE:</td><td><strong>{{ promedio_recorrido_por_tanque }} kms.</strong></td></tr>
                        <tr><td>CONSUMO POR CADA 100Km.:</td><td><strong>{{ '%0.2f'|format(consumo_por_100km|float) }} lts.</strong></td></tr>
                        <tr><td>ULTIMA CARGA:</td><td><strong>{{ promedio_dias_carga }} dias.</strong></td></tr>
                    </table>
                </div>
            </div>
            <div class="card-footer text-muted text-right">
                <a href="{{ url_for('nueva_recarga') }}" class="btn btn-primary">NUEVA RECARGA</a>
            </div>
        </div>
        <!-- GASTOS FIJOS SALARIO -->
        <div class="card">
            <div class="card-header">
                <h3><strong>GASTOS FIJOS & VARIABLES</strong></h3>
            </div>
            <div class="card-body">
                <div class="card-title text-center">
                    <table class="table table-sm table-borderless">
                        <td><a href="{{ url_for('historico_gastos_detalle', periodo=fechas_referencia.mes_anterior.strftime('%Y-%m')) }}" class="card-link"><strong>{{ fechas_referencia.mes_anterior.strftime('%B') }}</strong></a></td>
                        <td><a href="{{ url_for('historico_gastos_detalle', periodo=fechas_referencia.fecha_actual.strftime('%Y-%m')) }}" class="card-link"><h4><strong>{{ fechas_referencia.fecha_actual.strftime('%B') }}</strong></h4></a></td>
                        <td><a href="{{ url_for('historico_gastos_detalle', periodo=fechas_referencia.mes_siguiente.strftime('%Y-%m')) }}" class="card-link"><strong>{{ fechas_referencia.mes_siguiente.strftime('%B') }}</strong></a></td>
                    </table>
                    <div class="card-text text-right">
                        <a href="{{ url_for('historico_gastos') }}" class="card-link">Ver historico de gastos</a>
                    </div>
                </div>
                <div>
                    <table class="table table-sm">
                        
                        <tbody>
                        {% for gasto in gastos %}
                            <tr>
                                <td>{{ gasto.acreedor }}</td>
                                <td><strong>{{ "Gs. {:,.0f}".format(gasto.total).replace(",", ".") }}</strong></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="card-text text-right"><strong>Total deudas:</strong></td>
                                <td><strong>{{ "Gs. {:,.0f}".format(total_gasto).replace(",", ".") }}</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="card-footer text-muted text-right">
                <a href="{{ url_for('nuevo_gasto') }}" class="btn btn-primary">NUEVO GASTO</a>
            </div>
        </div>
        <!-- TARJETA DE CREDITO -->
        <div class="card">
            <div class="card-header">
                <h3><strong>MOVIMIENTOS DE TARJETA</strong></h3>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h4 class="card-text text-center"><strong>{{ fechas_referencia.fecha_actual.strftime('%Y') }}</strong></h4>
                    <div class="card-text text-right">
                        <a href="{{ url_for('historial_operacion') }}" class="card-link">Ver todo el historial</a>
                    </div>
                </div>
                <div>
                    <table class="table table-sm">
                        {% for movimiento in movimientos %}
                        <tbody>
                            <tr>
                                <td><a href="{{ url_for('movimientos_mes', mes=movimiento[0]) }}">{{ movimiento[0] }}</a></td>
                                <td><strong>{{ "Gs. {:,.0f}".format(movimiento[1]).replace(",", ".") }}</strong></td>
                            </tr>
                        </tbody>
                        {% endfor %}
                        <tfoot>
                            <tr>
                                <td class="card-text text-right"><strong>Balance:</strong></td>
                                <td><strong>{{ "Gs. {:,.0f}".format(balance_movimientos|int).replace(",", ".") }}</strong></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="card-footer text-muted text-right">
                <a href="{{ url_for('nueva_operacion') }}" class="btn btn-primary">NUEVA OPERACION</a>
            </div>
        </div>
    </div>
{% endblock %}

