{% extends "base.html" %}

{% block main %}
<div class="card-columns">
    <div class="card">
        <div class="card-header">
            <h3><strong>TIPOS DE MOVIMIENTOS</strong></h3>
        </div>
        <div class="card-body">
            <div>
                <table class="table table-sm">
                    {% for tipo in tipos_movimiento %}
                    <tr>
                        <td>{{ tipo.id }}</td>
                        <td>{{ tipo.tipo }}</td>
                        <td class="align-self-end">
                            <a href="{{ url_for('modificar_parametrico', parametrico_id=tipo.id, origen='TIPOS') }}"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="{{ url_for('borrar_parametrico', parametrico_id=tipo.id, origen='TIPOS') }}" style="color:red"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="card-footer text-muted text-right">
            <a href="{{ url_for('nuevo_parametrico', origen='TIPOS') }}" class="btn btn-primary">AGREGAR TIPO</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3><strong>AGRUPADOR DE GASTOS</strong></h3>
        </div>
        <div class="card-body">
            <div>
                <table class="table table-sm">
                    {% for agrupador in agrupador_gastos %}
                    <tr>
                        <td>{{ agrupador.id }}</td>
                        <td>{{ agrupador.agrupador }}</td>
                        <td class="align-self-end">
                            <a href="{{ url_for('modificar_parametrico', parametrico_id=agrupador.id, origen='AGRUPADORES') }}"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="{{ url_for('borrar_parametrico', parametrico_id=agrupador.id, origen='AGRUPADORES') }}" style="color:red"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="card-footer text-muted text-right">
            <a href="{{ url_for('nuevo_parametrico', origen='AGRUPADORES') }}" class="btn btn-primary">NUEVO AGRUPADOR</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3><strong>TARJETAS DE CREDITO</strong></h3>
        </div>
        <div class="card-body">
            <div>
                <table class="table table-sm">
                    {% for tarjeta in tarjetas %}
                    <tr class="{{ 'text-dark' if tarjeta.estado else 'text-danger' }}">
                        <td>
                            <div>{{ tarjeta.id }} - {{ tarjeta.banco }} (*{{ tarjeta.numero }})
                                {{ tarjeta.vencimiento }}</div>
                                <small>Compras: {{ "Gs. {:,.0f}".format(tarjeta.compras).replace(",", ".") }} (Intereses: {{ "Gs. {:,.0f}".format(tarjeta.intereses).replace(",", ".") }})</small><br>
                                <small>Pagos: {{ "Gs. {:,.0f}".format(tarjeta.pagos).replace(",", ".") }} (Descto.: {{ "Gs. {:,.0f}".format(tarjeta.descuentos).replace(",", ".") }} - {{ tarjeta.porcentaje }}%)</small>
                            </div>
                        </td>
                        <td class="align-self-end vertical-align:top">
                            <a href="{{ url_for('modificar_tarjeta', tarjeta_id=tarjeta.id) }}"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="{{ url_for('borrar_tarjeta', tarjeta_id=tarjeta.id) }}" style="color:red"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="card-footer text-muted text-right">
            <a href="{{ url_for('nueva_tarjeta') }}" class="btn btn-primary">NUEVA TARJETA</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3><strong>PENDIENTES, FIJOS Y VARIABLES</strong></h3>
        </div>
        <div class="card-body">
            <div>
                <table class="table table-sm">
                    {% for fijo in gastos_fijos %}
                    <tr class="{{ 'text-success' if fijo.cuotas_pagadas > fijo.cuotas else ('text-dark' if fijo.estado else 'text-danger') }}">
                        <td>{{ fijo.id }}</td>
                        <td>{{ fijo.descripcion }} ({{ "Gs. {:,.0f}".format(fijo.monto).replace(",", ".") }})<br><small>(Cuotas: {{ fijo.cuotas_pagadas }}/{{ fijo.cuotas }})</small></td>
                        <td class="align-self-end">
                            <a href="{{ url_for('modificar_pendiente', pendiente_id=fijo.id) }}"><i class="fa fa-pencil-square-o"></i></a>
                            <a href="{{ url_for('borrar_pendiente', pendiente_id=fijo.id) }}" style="color:red"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="card-footer text-muted text-right">
            <a href="{{ url_for('nuevo_pendiente') }}" class="btn btn-primary">NUEVO PENDIENTE</a>
        </div>
    </div>

</div>
{% endblock %}